* {
    margin: auto;
}

body {
    background: black;
}

.container {
    width: 70%;
    height: 70vh;
    margin-top: 15vh;
    padding: 20px;
    text-align: left;
    background: #111;
    color: lightgreen;
    font-family: monospace;
    font-size: 1.2em;
    border-radius: 3%;
}

hr.dashing {
    border: 1px dashed lightgreen;
    margin: 1.2em 0 1.2em 0;
}

ul {
    list-style: none;
    padding: 0 0 0 1em;
}

.answer-option {
    margin: .5em 0 .5em 0;
    line-height: 1em;
}

#answer {
    margin: 1em 0 0 0;
}

#summary {
    margin: 1em 0 0 0;
}

#next-question {
    margin: 2em 0 0 0;
    width: 128px;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background: darkgreen;
}