* {
    margin: auto;
    /*height: 100%;*/
    box-sizing: border-box;
}

body {
    background: #000;
}

.container {
    width: 90%;
    min-height: 95vh;
    margin-top: 3vh;
    padding: 30px;
    background: #222;
    color: lightgreen;
    font-family: monospace;
    font-size: 1.2em;

}

hr.dashed {
    border: 1px dashed lightgreen;
    margin: 1.2em 0;
}

ul {
    list-style: none;
    padding-left: 1em;
}

.answer-option {
    margin-bottom: 1em;
    padding: .2em;
}

#answer,
#summary {
    margin-top: 1em;
}

#nav-btn {
    margin-top: 3em;
    padding: .3em;
    width: 120px;
    text-align: center;
    border: dashed lightgreen 1px;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background: darkgreen;
}

a {
    color: lightgreen;
    text-decoration: none;
}



@media screen and (min-width: 768px) {
    body {
        background: #000;
    }

    .container {
        width: 70%;
        min-height: 75vh;
        margin-top: 12vh;
        border-radius: 1%;
        border: solid #8e814a 5px;
    }
}

@media screen and (min-width: 1200px) {

    .container {
        width: 60%;
    }
}