* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: #333;
}

#main-container {
    position: relative;
    width: 96vw;
    height: 98vh;
    margin: 1vh auto;
    padding: 5% 3% 2% 3%;
    background: #222;
    color: lightgreen;
    border-radius: 2%;
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.2;
    overflow-y: scroll;
    overflow-x: hidden;
}

hr.dashed {
    border: 1px dashed lightgreen;
    margin: .2em 0;
}

ul {
    list-style: none;
    padding-left: 1em;
}

.answer-option {
    margin-bottom: 1em;
    padding: .2em;
}

#question,
#answer,
#summary {
    margin-top: 1em;
}

#next-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2em 0;
    padding: .4em;
    width: 110px;
    text-align: center;
    border: dashed lightgreen 1px;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background: darkgreen;
}

a {
    color: lightgreen;
}

#flyin-egg {
    position: absolute;
    left: -100px;
    top: 30%;
    width: 100px;
    height: auto;
}

.flyin-egg-ani {
    animation: movinEgg 6s linear 2s;
}

@keyframes movinEgg {
    from {
        left: -100px;
    }

    to {
        left: 100%;
    }
}

@media screen and (min-width: 768px) {
    #main-container {
        margin-top: 5vh;
        max-width: 1024px;
        max-height: 768px;
    }
}

